API_VERSION=0.1.0
API_TITLE=Koel Exchange Rate API
APP_PORT=8000

DB_CONNECTION=postgresql
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=P@ssw0rd
DB_NAME=koel

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=

# Set to "true" to seed the database on initialization
SEED_DB=true